#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 50%;
  }
}

.expertise {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
  padding: 0;
  li {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #32416b;
    border-radius: 50px;
    padding: 5px 20px 5px 10px;
    margin: 6px;
    // min-width: 8%;

    &::before {
      content: '';
      // position: absolute;
      margin-right: 5px;
      background-color: #32416b;
      width: 8px;
      height: 8px;
      border-radius: 50px;
    }
  }
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  // text-align: center;
  margin: 5px auto;

  .text {
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    line-height: 180%;
  }
}